<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ジャコス無料通話</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../css/about.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script src="../js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/custom.css?v=9">
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <style>
           .bg-potacon{
        
            }
        @media (max-width: 990px) and (min-width: 575px) {
            .header-img {
                width: 100% !important;
            }
        }

        @media (max-width: 320px) and (min-width: 200px) {
            .header-img {
                width: 100% !important;
            }
        }

        .bg-gradient-green, .btn-check:checked + .btn-outline-success {
            background-image: linear-gradient(#38743a, #3A813B, #307031);
        }
        @font-face {
            font-family: 'hkgyokk';
            src: url('../fonts/hkgyokk.ttf') format('truetype')
        }
        .button-design{
            height: 56px; font-size: 44px; font-family: 'hkgyokk'
        }

        
#texta {
    font-size: 29px;
    animation: blink 1s infinite alternate, changeColor 2s infinite alternate;
    font-weight: 700;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}

@keyframes changeColor {
    0% {
        color: black;
    }
    50% {
        color: rgb(196, 19, 131);
    }
    100% {
        color: rgb(126, 21, 201);
    }
}
 
    </style>
</head>
<body>

<main class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-lg-4 mx-auto"
             style="position: relative;background: #f1eded;display: flex;padding: 10px;">
            <!-- <img class="header-img" src="./rsc/contacts_title_img.png" alt="" height="65"> -->
            <div class="form-group my-2" id="texta">
            <label for="name" class="fs-5">相手の名前と電話番号と【個人用】か【会社用】かを決めて下さい。</label>
            </div>
            <img onclick="javascript:history.back()" src="./rsc/go_back_btn.png" alt=""
                 style="right: 3px;top : 4px;cursor: pointer;padding-left: 10px;" height="50">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-lg-4 mx-auto bg-potacon min-vh-100 px-2" style="background: #cbcbcb;">
            <form action="" id="add-new-contact" method="post" class="mt-3">
                
                    <!-- <label for="name" class="fs-5">連絡先を登録するために
                        相手の名前と電話番号
                        そして【個人用】か【会社用】かを
                        決めてください。</label> -->
                    
              
                <div class="col-auto">
                    <label class="sr-only fs-5" for="name">相手氏名</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                              </svg></div>
                        </div>
                        <input required type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="相手氏名">
                    </div>
                </div>
                <div class="col-auto">
                    <label class="sr-only fs-5" for="phone">電話番号</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-phone-vibrate" viewBox="0 0 16 16">
                                <path d="M10 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4zM6 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H6z"/>
                                <path d="M8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2zM1.599 4.058a.5.5 0 0 1 .208.676A6.967 6.967 0 0 0 1 8c0 1.18.292 2.292.807 3.266a.5.5 0 0 1-.884.468A7.968 7.968 0 0 1 0 8c0-1.347.334-2.619.923-3.734a.5.5 0 0 1 .676-.208zm12.802 0a.5.5 0 0 1 .676.208A7.967 7.967 0 0 1 16 8a7.967 7.967 0 0 1-.923 3.734.5.5 0 0 1-.884-.468A6.967 6.967 0 0 0 15 8c0-1.18-.292-2.292-.807-3.266a.5.5 0 0 1 .208-.676zM3.057 5.534a.5.5 0 0 1 .284.648A4.986 4.986 0 0 0 3 8c0 .642.12 1.255.34 1.818a.5.5 0 1 1-.93.364A5.986 5.986 0 0 1 2 8c0-.769.145-1.505.41-2.182a.5.5 0 0 1 .647-.284zm9.886 0a.5.5 0 0 1 .648.284C13.855 6.495 14 7.231 14 8c0 .769-.145 1.505-.41 2.182a.5.5 0 0 1-.93-.364C12.88 9.255 13 8.642 13 8c0-.642-.12-1.255-.34-1.818a.5.5 0 0 1 .283-.648z"/>
                              </svg></div>
                        </div>
                    <input required type="text" class="form-control" id="phone" aria-describedby="emailHelp" placeholder="電話番号">
                    </div>
                </div>
                <!-- <div class="form-group my-3 input-group-lg">
                    <label for="name" class="fs-5">相手氏名</label>
                    <input required type="text" class="form-control" id="name" aria-describedby="emailHelp"
                           placeholder="相手氏名">
                </div> -->
                <!-- <div class="form-group my-3 input-group-lg">
                    <label for="phone" class="fs-5">電話番号</label>
                    <input required type="text" class="form-control" id="phone" aria-describedby="emailHelp"
                    placeholder="電話番号">
                </div> -->
         
                <div class="d-flex justify-content-center my-3">
                    <div class="d-flex justify-content-center btn-group" role="group"
                         aria-label="Basic radio toggle button group">
                        <input checked value="1" type="radio" class="btn-check" name="type" id="personal"
                               autocomplete="off">
                        <label class="button-design btn-lg fs-4 btn btn-outline-success" for="personal"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                            <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                            <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                          </svg> 個人用</label>

                        <input value="2" type="radio" class="btn-check" name="type" id="company" autocomplete="off">
                        <label class="button-design btn-lg fs-4 btn btn-outline-success" for="company"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
                            <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z"/>
                            <path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z"/>
                          </svg> 会社用</label>
                    </div>
                </div>
                <div class="d-flex form-group justify-content-center my-3">
                    <button type="submit" class="button-design btn-large waves-light p-0 btn btn-success text-center w-75 bg-gradient-green">登録</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col s12 m4 l4  z-depth-1 card-panel" style="margin: 0;box-shadow: none;position: relative;">
        <form class="login-form" style="padding: 0">
            <div class="row col s12" style="margin: 0">
                <audio style="display:none" id="remoteAudio" class="audio_play" controls autoplay></audio>
                <audio style="display:none" id="remoteAudio2" class="audio_play" controls autoplay></audio>
                <audio id="music" src="./../baby.mp3"></audio>
                <div id="connectedText" style="display:none ;color: green; font-size: 18px" align="center"></div>
            </div>
            <!--  <div class="row margin_bottom">
                <div class="input-field col s11">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="callToUsernameInput" type="number">
                    <label for="username" class="center-align">電話番号</label>
                </div>
            </div>-->
            <div class="row row-padding">
                <div class="login-button center-align">
                    <div class="col s4"></div>
                </div>
            </div>

            <!-- display: none; -->
            <div id="divForAllValues_" class="row row-padding" style="margin: 0">
                <div id="statusDiv" class="col s4 l4 content-wrap-outbox"
                     style="display: none;  position: fixed; top:0; left: 0 !important; z-index: 1010; width: 100% !important; padding: 0;height: 100vh;background: #a78e91">
                    <div class="content-wrap row"
                         style=" text-align: center; padding: 0px 0px 0px 0px; font-size: 32px; border-radius: 8px;height: 65%;margin: 0">
                        <div class="col col-sm-12 col-md-12 col-lg-12" style="padding-top: 25px">
                            <img src="rsc/call_pic.jpg" alt="" style="height: 100px">
                        </div>
                        <div class="col col-sm-12 col-md-12 col-lg-12" id="statusText"></div>
                        <div class="col col-sm-12 col-md-12 col-lg-12" id="callDuration"></div>
                        <!--                            <p style="color: #ffffff;padding: 0px 0px 10px 10px" id="statusText"></p>-->

                    </div>
                    <div class="content-wrap row"
                         style=" text-align: center; padding: 0px 0px 0px 0px; font-size: 32px; border-radius: 8px;">
                        <div class="col col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 15px;">
                            <a role="button" id=""
                               class="text-white fw-bold text-decoration-none shadow waves-effect waves-light btn-large"
                               style="height: 38px;border: 1px solid #A78E91;font-size: 21px; line-height: 40px;width: 50%;border-radius: 22px;background: #b19b9e">スピーカー
                                OFF</a>
                        </div>
                        <div class="col col-sm-12 col-md-12 col-lg-12" style="padding: 0">
                            <a role="button" id="hangUpBtn"
                               class="text-white fw-bold text-decoration-none shadow waves-effect waves-light btn-large"
                               style="height: 45px;font-size: 26px; line-height: 47px;width: 92%;border-radius: 5px;background: #F6403B;">終了</a>
                        </div>
                    </div>

                </div>
            </div>
            <div id="divForAllValues" class="row row-padding" style="margin: 0;visibility: hidden">
            </div>


        </form>
    </div>
    
    <div>
        <select style="display: none;" id="audioOutput"></select>
    </div>


   </main>
<script src="../client11.js?v=797979797979797922&v1=00000000000022"></script>
<script>
    $(document).ready(function () {
        $("#add-new-contact").on('submit', (function (e) {
            e.preventDefault();
            var name  = $("#name").val();
            var phone = $("#phone").val();
            var type  = $("input[name='type']:checked").val();

            let contact = {
                "contact_owner"     : localStorage.getItem('auth_id'),
                "contact_name"      : name,
                "contact_telnum"    : phone,
                "contact_group_flag": type
            }
            $.ajax({
                dataType   : 'json',
                contentType: 'application/json',
                processData: false,
                type       : "POST",
                url        : `${apiUrl}/add_contacts/${localStorage.getItem('jacosUserId')}`,
                data       : JSON.stringify([contact]),
                success    : function (res) {
                    if (res.status === 'success') {

                        $("#add-new-contact").trigger('reset');
                        $("#add-new-contact").hide();
                        $("#add-new-contact").after(`<div class="alert alert-success" role="alert">
                          登録が完了しました。
                       </div>`);
                        setTimeout(function () {
                            window.location.href = './../index.html';
                        }, 2000);
                    } else {
                        $("#add-new-contact").after(`<div class="alert alert-danger" role="alert">
                           連絡先の登録に失敗しました。
                       </div>`);
                    }
                },
                error      : function (errordata) {
                    $("#add-new-contact").after(`<div class="alert alert-danger" role="alert">
                           連絡先の登録に失敗しました。
                       </div>`);
                }
            });
        }));
    });
</script>
</body>
</html>
